.header {
  background-color: #087f5b;
  color: #fff;
}

.header th {
  padding: 20px;
}

.table {
  width: 700px;
  margin: 20px auto;
  border-spacing: 0px;

}

.table th,
.table td {
  padding: 16px 24px;
  text-align: left;
}


.tbody tr{
   height: 50px; 
}

.tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.tbody tr:nth-child(even) {
  background-color: #e9ecef;
}